body{
    font-weight: bold;
}
.jumbotron{
	background-image: url("../images/background.jpg");
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
	color: #FFFFFF;
}

.btn-group{
	color: #000000;
}

.aboutMe{
    overflow: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.post-thumb {
    float: left;
	text-align:center; 
}
.post-thumb img {
	border-radius: 50%;
	margin-left:2cm;
    display: block
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%
}

#myCarousel {
    height: 300px;
}

#myCarousel.img{
    float: center;
    height: 300px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    opacity: 0.5;
}

.carousel-content {
    position: absolute;
    top: 30%;
    left: 5%;
    right: 5%;
    z-index: 20;
    color: black;
  }

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

#education{
    background-image: url("../images/ittlogo.png");
    margin-bottom: 0;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    background-position: 0px 0px;
    animation: animatedBackground 40s linear infinite;
}

#tab-content{
    padding-left: 20px;
    padding-right: 20px;
}

#searchbar{
    padding-top: 10px;
}

.parallax { 
    /* The image used */
    background-image: url("../images/background.jpg");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projects{
    padding-bottom: 50px;
}

#yeartabs li{
    border-style: solid ;
    border-color: rgb(54, 54, 236);
}

#uniphar{
    float: right;
}

#logo{
    float: left;
}
#text{
    float: left;
}

#uniphar > #logo{
    padding-top: 20px;
    padding-bottom: 15px;
}

#skills img{
    height: 200px;
    width: 250px;
    padding-left: 50px;
}

#skills > #images > #topRow{
    padding-bottom: 10px;
}

#skills > #images > #titlebtn{
    float: left;
}

